header {
  @include flex($wrap: nowrap);
  align-items: center;
  padding: 1rem .5rem;
  background-color: $main;
}

h1 {
  position: relative;
  margin-right: auto;
}

#bell {
  @include flex($just: center);
  align-items: center;
  min-width: 80px;
  border-right: 1px solid #cccccc;
  height: 100%;
  fill: white;

  &.alert {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $accent;
      top: 15%;
      right: 30%;
      z-index: 2;
    }
  }

  &:hover {

    svg {
      transition: all .2s ease;
      fill: $accent;
      transform: scale(1.05);
      filter: drop-shadow(1px 1px 2px #222);
    }
  }
}

dialog {
  max-width: 650px;
  padding: 1rem;

  &::backdrop {
    background-color: rgba($main, 0.9);
  }
}

.notification {
  position: relative;
  margin: 1vh auto;
  padding: .5rem 1rem;

  border: 1px solid $main;
  border-radius: 5px;
  overflow: hidden;
}

.remove {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  background-color: $main;
  border-radius: 5px;
  color: white;
  border: none;

  &:hover,
  &:focus {
    background-color: darken($main, 30);
  }
}

.from,
.time {
  margin: 0;
}

.from {
  font-weight: 600;
}

.time {
  font-size: 16px;
  border-bottom: 1px dashed $main;
}

.student_name {
  color:white;
}

.headline {
  text-align: center;
}

.tab {
  background-color: $secondary;
  border-left: 1px solid darken($secondary, 30);
  border-bottom: 1px solid darken($secondary, 30);
}

.alert-banner {
  @include flex($wrap: nowrap);
  align-items: center;
  width: 97%;
  margin: .5rem auto;
  background-color: $main;
  padding: .5rem;
  border-radius: 5px;

  p,
  strong {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
  } 
}

.alert-banner-close {
  margin-left: auto;
  width: 50px;
  text-align: center;
  font-weight: 700;
}


/*
  * -------
  * Charts 
  * -------
*/

section {
  max-width: 100%;
  padding: 1rem;
  border-bottom: 1px solid darken($secondary, 30);
}

.widget-container-full,
.widget-container-half {
  width: 90vw;
  margin: auto;
}

.widget-container-half {
  margin-top: .5rem;
}


/* 
  ? Traffic Chart 
*/
.traffic {
  transition: .2s ease-out;
}

.traffic-header {
  @include flex($dir: column)

}

.traffic-nav {
  @include flex($wrap: nowrap, $just: space-around);
  align-items: center;

  padding-inline-start: 0;
  list-style: none;
  
  li {
    margin: 0 .35rem;
  }
}

// Social Status containers

.social-container {
  @include flex($wrap: nowrap);
  align-items: center;

  padding: 1rem;
  margin: 1rem 0;
  background-color: $secondary;
  border: 2px solid lighten($grey, 50);
  border-radius: 5px;
  flex-grow: 1;

  .social-image {
    background-color: $main;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    
    @include flex($just: center);
    align-items: center;

    svg {
      width: 60%;
      fill: $white;
    }
  }

  .social-text {
    padding: 0 5px 0 1rem;
    
    p {
      margin: 0;
      color: $main;

      &:first-of-type {
        font-weight: 700;
        font-size: 1.6rem;
      }

      &:not(:first-of-type) {
        font-size: 3.8rem;
        color: darken($secondary, 55);
      }
    }
  }
}

// members container
.members-container {
  @include flex($dir: column, $just: center);
  align-items: center;

  width: 95%;
  margin: 1vh auto;
  padding: 1rem 0;
  
  &:not(.remove-border) {
    border-bottom: 1px solid darken($secondary, 35);
  }
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: .75rem;
}

.members-text {
  text-align: center;

  p, a {
    margin: 0;
    font-size: 17px;
  }

  a {
    color: $main;
    font-weight: 500;
  }

  span {
    font-weight: 600;
  }
}

.members-text a,
.members-text p,
.date,
.activity_time {
  line-height: .5;
}

.date {
  margin: 0;
}

.activity_time {
  font-size: 16px;
  margin: .25rem 0;
}

.arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  outline-color: 1px solid $main;
  outline-offset: 1px;
  background-color: transparent;

  font-size: 25px;
}

// Message containers
.widget-container {
  @include flex($dir: column);
  padding: 1rem 0;
}

.message {
  input, textarea {
    padding: .5rem;
    background-color: $secondary;
    border-radius: 5px;
    border: 2px solid lighten($grey, 60);

    &::placeholder {
      opacity: .3;
    }
  }

  input,
  button {
    min-height: 50px;
  }

  input {
    position: relative;
    outline: none;
  }

  textarea {
    min-height: 200px;
    margin: 1rem 0;
  }
}

#userMessageList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    border: 1px solid $main;
    margin-top: -1px;
    background-color: $secondary;
    padding: .75rem;
    text-decoration: none;
    color: black;
    transition: .2s ease;

    &:hover,
    &:focus {
      background-color: $main;
      color: white;
    }
  }
}

.setting {
  @include flex($wrap: nowrap);
  margin: .5rem 0;
  max-width: 400px;

  p {
    margin: 0 auto 0 0;
  }

  // input in buttons
}

.select_wrapper {
  position: relative;
  

  .caret {
    position: absolute;
    right: 2rem;
    top: 1rem;
    z-index: 2;
    transition: all .2s ease-in-out;

    i {
      font-size: 2rem;
      filter: drop-shadow(1px 1px 2px $grey);
    } 
  }

  &:hover {
    .caret {
      transform: translateY(-2px) scale(1.1);
    }
  }
}

.form-field {
  position: relative;
  margin: 1vh 0 0;
  min-height: 50px;
  width: 100%;
  background-color: $secondary;
  border: 2px solid lighten($grey, 60);
  padding: 1.25rem .5rem;
  color: $grey;
  border-radius: 5px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.settings-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;

  button {
    width: 48% !important;
  }
}

// Media Queries for Containers
@include mq-width('tablet', max) {
  .arrow_icon {
    display: none;
  }
}

@include mq-width('tablet', min) {
  .widget-container-full {
    width: 85vw;
  }
  .widget-container-half {
    width: 40vw;
  }

  .traffic-header {
    @include flex($dir: row, $wrap: nowrap, $just: space-between);
  }

  .social-container {
    padding: .5rem;

    .social-image {
      width: 85px;
      height: 85px;
    }

    .social-text {
      padding: 0 5px 0 1rem;
      
      p {  
        &:first-of-type {
          font-size: .9rem;
        }
  
        &:not(:first-of-type) {
          font-size: 1.8rem;
        }
      }
    }
  }

  //members
  .members-container {
    @include flex($dir: row, $wrap: nowrap);
  
    width: 95%;
    margin: 1vh auto;
    padding: 1rem 0;
  }

  .members-text {
    padding-left: .75rem;
    
    p, a, .activity_time {
      text-align: left;
    }
  }

  #send {
    margin-top: auto;
  }

  .date,
  .arrow_icon {
    margin-left: auto;
    padding: 0 0 0 .25rem;
  }
}

@include mq-width('desktop', min) {
  .social-container {
    padding: 1rem;

    .social-image {
      width: 110px;
      height: 110px;
    }

    .social-text {
      p {  
        &:first-of-type {
          font-size: 1.3rem;
        }
  
        &:not(:first-of-type) {
          font-size: 2.6rem;
        }
      }
    }
  }

  .members-container {
    min-height: 125px;
  }

  #Settings,
  .message {
    @include flex($dir: column);

    .widget-container {
      height: 100%;
    }

    .setting {
      margin: 2rem 0;
    }

    .form-field {
      margin-top: auto;
    }
  }
}