/* ============================================= */
/*              Base styles                      */
/* ============================================= */
/* import Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  @include base-text;
  color: $black;
  box-sizing: border-box;
}

h1 { font-size: 1.5rem; }
h2 { font-size: 1.2rem; }
h3 { font-size: 1.15rem; margin: 0; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; }

@include mq-width('small-tablet', min) {
  h1 { font-size: 1.8rem; margin-top: 0 }
}

a {
  text-decoration: none;
}
